sudo: false
language: node_js

cache:
  directories:
    - node_modules

branches:
  only:
    - master

notifications:
  email:
    on_failure: change

node_js:
  - '6'

before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm i -g npm
  - npm install

before_script:
  - npm prune

script:
  - npm run build:prd
  - npm run test

after_success: 
  - npm run test:coveralls
  - npm run test:coveralls:push