<form name="addContactForm" ng-submit="$ctrl.submit()" novalidate>
  <div class="form-group">
    <label>Firstname</label>
    <input type="text" class="form-control" ng-model="$ctrl.firstName" placeholder="firstname" required>
  </div>
  <div class="form-group">
    <label>Lastname</label>
    <input type="text" class="form-control" ng-model="$ctrl.lastName" placeholder="lastname" required>
  </div>
  <button class="btn btn-primary btn-block" type="submit" ng-disabled="addContactForm.$invalid">Add</button>
</form>